@import "tailwindcss";


@source "../views";
@source "../../app/View/Components";


@theme {
    /* Nos couleurs */
    --color-primary: #3b82f6;
    --color-primary-hover: #2563eb;

    --color-secondary: #64748b;

    --color-danger: #ef4444;

    --color-slate-50: #f8fafc;
    --color-slate-900: #0f172a;
}
